@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To YoNinja Trainning Institute ...</h1>
    <h2>Making Devlopers from Coders</h2>
    <p>It is almost two decades, YoNinja has continuously lived up to its reputation and emerged as a pioneer in the
        ESE, GATE and PSUs exam preparation, setting up new benchmarks year on year and established itself as a success
        partner of thousands of engineering graduates in various competitive examinations and personality tests. Since
        its inception in year 2001,YoNinja has lived up to its brand value “Big Learnings YoNinja” and has empowered
        the youth to fulfill their dreams by consistently producing toppers and highest number of top rank holders in
        GATE, ESE and PSUs examination.</p>
    
   <a href="/Trainer/Index">See our awsome YoNinja's </a>
</div>
